body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header,
  footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
nav{
    background-color: #003399;
}

nav a {
    background-color: #003399;
      color: white;
      margin: 0 10px;
      text-decoration: none;
}
  
  main {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: blue;
  }
  